.App {
  font-family: sans-serif;
  text-align: center;
}
.btn {
  background-color: black;
  padding: 8px;
  font-size: 15px;
  font-weight: 100;
  color: white;
  border-radius: 15px;
}

.btn:hover {
  background-color: royalblue;
}
